@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");


body{
    background:white;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin:0;
    padding: 5px 10px;
    height: 100px;

}


a {
    text-decoration: none;
  }


#grid-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3fr);
    grid-template-rows: repeat(7 auto);
    grid-template-areas:
    "header			header   	header"
    "title      title     title"
    "title    title       title"
    "footer    footer      footer"
    
  
}

header{
    grid-area: header;
    padding: 20px;
    background: black;
    box-shadow: 0px 0px 70px orange;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav a {
    
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }


  nav a:hover {
    background:orange;
    
  }

  .header .logo {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
  }

  .logo h1 {
    color: white;
    font-size: 1.875rem;
  }



  .photo{

  height: 3em;
  width: 3em;
  margin-bottom: 1.rem;}

  .title{
    grid-area: title;
  }

  h1{
  font-size: 50px;
  }

form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 70px;
    border-radius: 7px;
}

h2{
    color:white;
    text-align: center;
    margin:0;
    font-size:30px;
    margin-bottom: 20px;
}

input,textarea {
    width: 100%;
    margin-bottom: 20px;
    padding:7px ;
    box-sizing: border-box;
    font-size: 17px;
    border:none;
}
.mad{
    margin-top: 70px;
    margin-right: 20px;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background:orange;
    color: black;
    padding: 20px;
}

#boton:hover{

    cursor: pointer;

}


   
footer{
        grid-area: footer;
        background: #fff;
        font-size: 1.25rem;
        padding: 20px;
        text-align: center;
        box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
      }
  

@media (max-width:480px) {
    form{
        width: 100%;
    }
}



